@font-face {
  font-family: 'RedCollar';
  src: url('../fonts/Redcollar.woff2') format('woff2'),
  url('../fonts/Redcollar.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'StarJedi';
  src: url('../fonts/StarJediRegular.woff2') format('woff2'),
  url('../fonts/StarJediRegular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}