@import "../config/variables";

html {
  font-family: "RedCollar", sans-serif;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.app {
  width: 100vw;
  height: 100vh;
}

.main-content {
  position: relative;
  padding: 2% 3% 0;
  height: 100%;
  z-index: 1;
  background: transparent;
  perspective: 1900px;
}

button {
  display: inline-block;
}

.enable-article {
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: "StarJedi", sans-serif;
  font-size: 50px;
  max-width: 600px;
  text-align: -webkit-center;
  letter-spacing: 0.05em;
  outline: none;

  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F6E11A;

  animation: toAppear 4s ease;
  transition: all $button-timing ease;

  @keyframes toAppear {
    from {
      pointer-events: none;
      transform: translate3d(0, 0, 2000px);
    }

    to {
      pointer-events: auto;
      transform: translate3d(0, 0, 0);
    }
  }

  &--clicked {
    animation: toDisappear $button-timing ease;
    animation-fill-mode: forwards;

    @keyframes toDisappear {
      to {
        transform: translate3d(0, 0, -4000px);
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.dummy {
  overflow: hidden;
  position: absolute;
  top: 35%;
  width: 100%;
  height: 685px;
}

.article-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotateX(45deg) translate3d(0, 62.5vh, 0);
  transform-style: preserve-3d;
  transition: transform 180s cubic-bezier(1, 1, 0, 0);
}

.article-container.star-wars {
  transform: rotateX(45deg) translate3d(0, -200%, 0px);
}

.article {
  font-size: 20px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  display: block;
  z-index: 2;
  max-width: 90%;
  margin: 0 auto 60px auto;

  &:last-child {
    margin-bottom: 0;
  }
}

.mouse-image {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 350px;
  max-height: 200px;

  img {
    width: 100%;
    height: 100%;
  }
}

.space-background {
  position: absolute;
  pointer-events: none;
}

.iframe {
  //pointer-events: none;
  min-width: 350px;
  min-height: 200px
}

.scene {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  margin: auto;
}